
@import 'bootstrap';

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-nav {
    margin: 7.5px -15px;
}

.navbar-brand {
    color: #777;
}
.navbar-nav {
    margin: 7.5px -15px;
}
