<!DOCTYPE html>
<html>
<head>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <title>PatientApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">MedicalOffice</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/patients/new">Create Patient</a></li>
    <li><a href="/patients">See all Patients</a></li>
  </ul>
  </div>
  </nav>
  </div>
<%= yield %>

</body>
</html>
